
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<table class="table table-bordered" style="margin-top:20px">
    <tr>
        <th>ID</th>
        <th>Kategori</th>
        <th>Durum</th>
        <th></th>
    </tr>
    <tr></tr>

</table>