
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h3>Mvc Blog Projesi Tablo Örneği - Kategori</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Kategori Adı</th>
            <th>Açıklama</th>
            <th>Durum</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>1</th>
            <th>Eğitim</th>
            <th>Bu bir eğitim kategorisidir</th>
            <th>true</th>
        </tr>

    </tbody>
</table>
<button class="btn btn-info">Yeni Kategori Ekle</button>